body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 2px #816fca;
}

h2 {
  font-size: 2.25rem;
  margin: 0.167em 0;
}

.beta-text,
.subheading {
  text-transform: uppercase;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
}

/* =================
    Intro
   ================= */

.intro {
  justify-content: center;
  min-height: 250px;
  text-align: center;
  color: #fff;
  background: #9480e4 url("./images/intro-bg.png");
  background-size: cover;
}

/* ====================
    Main content
   ==================== */

.main-content {
  align-items: center;
}

.img-main {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* =================
    Form
   ================= */

input {
  font-family: inherit;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 2px solid #d1d5db;
  border-radius: 5px;
}

input:focus {
  border-color: #8a71ec;
  background: #e6e8ec;
}

.btn{
  display: block;
  font-family: inherit;
  width: 100%;
  background: #8a71ec;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing:1px;
  border: 0;
  border-radius: 5px;
  margin: 1em;
  padding: 1em 0;
  cursor: pointer;
}

.btn-primary{
  background: #b7a7f6;
}

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
  body {
    display: flex;
  }

  .intro,
  .main-content {
    flex-basis: 50%;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }
}
