body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
}

/* =================
    Intro
   ================= */

.intro {
  color: #fff;
  background-color: #9480e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 250px;
}

/* ====================
    Main content
   ==================== */

.main-content {
  padding: 2.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-main {
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
}

/* =================
    Form
   ================= */

/* =================
    Media queries 
   ================= */
